@charset "UTF-8";

*{
    box-sizing:border-box;
    padding:0;
    margin:0;

}



#app{
    display:flex;
    margin:70px  auto;
    max-width:1000px;
    justify-content: center; 

    flex-flow:row wrap;
    padding: 0 20px;
}

.flex-item{
    flex:1 1 350px;
}

.MyArticle{
    display:flex;
    flex-flow:column nowrap;

    justify-content:center;
}

.MyArticle h1 {
    width:90%;
    margin-bottom:30px;
    margin-left:40px;
}

.MyArticle p{
    width:90%;
    margin-left:40px;
}

aside{
    width:40%;
    flex-grow:2;
    margin-left:7%;
}

aside > #tryFreeText{
    padding:4%;

    text-align:center;
    border-radius:9px;

    margin-bottom:5%;
}

aside form {
    display:flex;
    flex-flow:column;

    border-radius:9px;

    padding:4% 0 6% 0;
}

form .inp-form{
    position:relative;

    padding:3.6%;

    width:87%;

    margin: 4% auto 5% auto;

    border-radius:7px;

    border:1px solid gray;

    display:flex;
    justify-content:space-between;
}

input:focus .inp-form{
    border-color:blue;
}

form .inp-form:nth-child(5){
    border:none;
    justify-content:center;
}
form .inp-form:nth-child(5):hover{
    background-color:#36bf7f86;
    cursor:pointer;
}

form p {    
    padding:0 0 0 6%;
    width:87%;
}

.spanError{
    color:red;
    font-size:.7em;
    position:absolute;

    right: 5px;
    top:50px;
}

.sinalization {
    position:absolute;
    right:5px;
    top: 18%;
    background-image:url("../images/icon-error.svg");
    background-repeat:no-repeat;
}

footer p {
    position:relative;  
    top:-7px;
}